.nav {
	height: 155px;
	margin-top: 10px;
	margin-right: 15px;
}

.nav ul {
	display: inline-block;
	list-style-type: none;
	font-family: arial,sans-serif;
	font-size: 13px;
	float: right;
}

.nav li {
	float: right;
	margin: 0px 8px;
}

.nav a {
	text-decoration: none;
	color: #4C4C4C;
}

.applogo img {
	
	height: 25px;
	width: 25px;
	position: relative;
	top: -5px;
}

.login {
	display: inline-block;
	border: 1px solid #4285F4;
	background-color: #4285F4;
	border-radius: 2px;
	position: relative;
	padding: 7px 13px 6px 12px;
	top: -8px;
}

.login a {
	color: white;
	font-weight: bold;
}

.hover:hover {
    text-decoration: underline;
}



.mainlogo {
	text-align: center;
}

.mainlogo a img {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 348px;
	height: 145px;
}



.searchbar input {
	display: block;
	width: 570px;
	height: 29px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3px;
	border: 1px solid #D4D4D4;
	padding: 4px 8px;
	outline-style: none;
	font-size: 17px;
}

.searchbar input:hover {
	border: 1px solid #A4A4A4;
	width: 570px;
	
}

.searchbar input:focus {
	border: 1px solid #4285F4;
	
	
}

.searchbar img {
	
	background-size: 24px 24px;
	height: 23px;
	width: 17px;
}


.searchbutton  {
	text-align: center;

}


.searchbutton button {
	background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 16px; 
    min-width: 54px;
    min-height: 35px;
    margin: 32px 2px;
}

.searchbutton button:hover {
	border: 1px solid #D4D4D4;
	color: black;
}

.french {
	text-align: center;
	font-family: arial,sans-serif;
	font-size: 13px;
}

.french a {
	text-decoration: none;
}

.french a:hover {
	text-decoration: underline;
}

.footer {
	bottom: 0%;
    position: fixed;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;   
    width: 100%;
    margin-left: -8px;
    padding: 0px;
    line-height: 6px;

	
	
	
}

.lfooter {
	float: left;
	margin-left: -22px;
	margin-bottom: 2px;

	


} 

.rfooter {
	float: right;
	margin-right: 18px;
	margin-bottom: 2px;
}

.footer ul {
		list-style-type: none;
		
		

}

.footer li {
	display: inline-block;
	padding: 0px 13px;
	
	
}

.footer li:hover {
	text-decoration: underline;
}



.footer a {
	text-decoration: none;
	font-size: 13px;
	font-family: arial,sans-serif;
	color: #666;
	
}

	

