

.nav ul {
	display: inline-block;
	list-style-type: none;
	font-family: arial,sans-serif;
	font-size: 13px;
	float: right;
	
}

.nav li {
	float: right;
	margin: 0px 10px;
	
	
	
}

.nav a {
	text-decoration: none;
	color: #222;


}

.applogo img {
	
	height: 25px;
	width: 25px;
	position: relative;
	top: -5px;
	

	

}

.login {
	display: inline-block;
	border: 1px solid #4285F4;
	background-color: #4285F4;
	border-radius: 2px;
	position: relative;
	padding: 7px 13px;
	top: -7px;


	
}

.login a {
	color: white;
	font-weight: bold;
}

.hover:hover {
    text-decoration: underline;
}




	




